/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

/.repl
/out
/resources/public/out
/resources/public/prod-out
/resources/public/*.js
/resources/public/*.js.map
/target
/*.js
/*.js.map
